
body {
	background-color: @body_background_color;
	color: @text_color;
	line-height: 1.3;

	font-family:
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		Roboto,
		Ubuntu,
		"Helvetica Neue",
		Helvetica,
		Arial,
		sans-serif;
}

header.main {
	background-color: @header_background_color;
	border-bottom-width: 5px;
	border-bottom-style: solid;
	border-bottom-color: @header_border_color;

  a {
    color: @header_link_color;

    &:hover {
      color: @header_link_color_hover;
    }
  }
}

footer.main {
	background-color: @footer_background_color;
	border-top-width: 0.5vh;
	border-top-style: solid;
	border-top-color: @footer_border_color;
	color: @footer_text_color;

	a {
		color: @footer_link_color;

		&:hover {
			color: @footer_link_color_hover;
		}
	}
}

.appointments {
	.year,
	.month {
		clear: both;
	}

	.day {
		margin: 0.5em;
		padding: 0.5em;
		float: left;
		border: 1px solid;
		position: relative;

		&.id-1 {
			clear: both;
		}

		.time {
			opacity: 0;
			height: 0;
			transition: opacity 500ms, height 500ms;
			overflow: hidden;
		}

		.appointment {
			span {
				color: @subtle_color;
			}
		}

		&:hover {
			.time {
				height: auto;
				opacity: 1;
				background-color: @header_background_color;
				display: inline-block;
				border: 1px solid @text_color;
				z-index: 100;
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				text-align: center;
				line-height: 2em;
			}
		}
	}
}
