html {
	scroll-behavior: smooth;
}

body {
	background-color: @body_background_color;
	color: @text_color;
	line-height: 2;

	word-wrap: break-word;

	font-family:
		'Helvetica Neue',
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		Roboto,
		"Ubuntu Narrow",
		Helvetica,
		sans-serif;
}

@header_bg_computed: ~"@{header_background_color}@{header_background_alpha}";

header.main {
	background-color: @header_bg_computed;
	z-index: 1;
	position: fixed;

	.wrapper {
		max-width: 1200px;
	}

  a {
    color: @header_link_color;

    &:hover {
      color: @header_link_color_hover;
    }
  }

	.logo {
		padding: 10px 0 0;

		img {
			max-height: 1.5em;
		}
	}

	nav.main {
		float: left;

		ul {
			position: absolute;
			li {
				padding: 0 0 0.3em;

				ul {
					display: none;
				}
				&:hover {
					ul {
						border: 1px solid @subtle_color;
						background-color: @header_bg_computed;
						display: inherit;
						position: absolute;
						border-top: 0 none;
						border-right: 0 none;
						margin: 0.3em 0 2px;

						li {
							display: block;
							float: none;
							margin: 0 0.5em;
							padding: 0;
						}
					}
				}
			}
		}
	}
}

h2 {
	margin: 1.5em 0 0;
	font-size: 2em;
}


.wrapper {
	width: 100%;
	max-width: initial;

	p, h2 {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}

  figure {
		width: 100%;
		margin: 1em 0;
	}
	figure:first-child {
		padding: 2.6em 0 0;
		background-color: #000;
		margin: 0;
	}
}

@footer_background_computed: ~"@{footer_background_color}@{footer_background_alpha}";
@footer_border_computed: ~"@{footer_border_color}@{footer_border_alpha}";

footer.main {
	background-color: @footer_background_computed;
	border-top-width: 0.5vh;
	border-top-style: solid;
	border-top-color: @footer_border_computed;
	color: @footer_text_color;
	position: relative;
	left: auto;
	bottom: auto;

	a {
		color: @footer_link_color;

		&:hover {
			color: @footer_link_color_hover;
		}
	}
}

.page-template-frontpage h2 {
	padding: 2em 0 0;
}

@media screen and (min-width: 700px) {
	body {
		font-size: 23px;
	}

	.wrapper figure:first-child {
		margin: 0;
	}

	header.main nav.main {
		ul {
			li {
				padding: 0 0 0.1em;
			
				&:hover {
					ul {
						margin: 0.1em 0 2px;
					}
				}
			}
		}
	}
}