{% extends "base.twig" %}

{% block content %}
  <ul class="appointments">
    {% for year_key, year in days %}
      <li class="year">
        <h3>{{ year_key }}</h3>
        <ul class="month__list">
          {% for month_key, month in year %}
            <li class="month">
              <h4>{{ month_key }}</h4>
              <ul class="day__list">
                {% for day_key, day in month %}
                  {% if day.id != 0 and day.id != 6 %}
                    {% include 'tease-day.twig' %}
                  {% endif %}
                {% endfor %}
              </ul>
            </li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
	<div class="appointment">
		<h3>Appointment</h3>
	</div>
  <div class="content">
    {{ post.content }}
  </div>
{% endblock %}
