<li class="day id-{{ day.id }}">
  <div class="date">
    <p class="name">{{ day.day_name | substr(0, 2) }}</p>
    <p class="date">{{ day.day }}.{{day.month}}.</p>
  </div>
  <ul class="time">
    {% include "appointment-time.twig" with {time: '11:00', day: day } %}
    {% include "appointment-time.twig" with {time: '12:00', day: day } %}
    {% include "appointment-time.twig" with {time: '12:30', day: day } %}
    {% include "appointment-time.twig" with {time: '13:00', day: day } %}
    {% include "appointment-time.twig" with {time: '13:30', day: day } %}
    {% include "appointment-time.twig" with {time: '14:00', day: day } %}
    {% include "appointment-time.twig" with {time: '14:30', day: day } %}
  </ul>
</li>
